{% extends 'page.html.twig' %}
{% block content %}

<h1>Course Calendar</h1>

<table class='table'>
    <thead>
        <tr>
            <th>Week</th>
            <th>Module</th>
            <th>Lectures</th>
            <th>Assignments Due</th>
            <th>Project Activity</th>
        </tr>
    </thead>
    <tbody>

    {% for module in modules %}

        <tr {{ (date()|date('U') >= module.begin and date()|date('U') <= module.end) ? "class='warning'" : '' }}>
            <td class='module-dates'>
                <span class='wknum'>Week {{ module.wknum }}</span>
                <span class='module-begin'>{{ module.begin | date('D, M j') }}</span>
                <span class='module-thru'>thru</span>
                <span class='module-end'>{{ module.end | date('D, M j') }}</span>
            </td>

            <td>{{ module.name }}</td>

            <td>
                {% if module.lectures is defined and module.lectures | length > 0 %}
                    {% for lect in module.lectures %}
                    <p class='lecture lecture-{{ lect.meet ? 'meet' : 'nomeet' }}'>
                        <span class='lecture-date'>{{ lect.date | date('D, M j') }}</span>
                        <span class='lecture-title'>{{ lect.title }}</span>
                    </p>
                    {% endfor %}
                {% else %}
                <em>No Lectures</em>
                {% endif %}
            </td>

            <td>
                {% if module.assignments is defined and module.assignments | length > 0 %}
                    {% for assign in module.assignments %}
                        <p class='assignment'>
                            <a href='#'>
                                <span class='assign-due'>Due: <span class='assign-due-date'>{{ assign.due | date('D, M j') }}</span></span>
                                <span class='assign-title'>{{ assign.name }}</span>
                            </a>
                        </p>
                    {% endfor %}
                {% else %}
                <em>No Assignments Yet</em>
                {% endif %}
            </td>

            <td>
                {% if module.project is defined and module.project | length > 0 %}
                    {% for projActivity in module.project %}
                        <p class='project-activity'>{{ projActivity }}</p>
                    {% endfor %}
                {% else %}
                <em>No Activity Yet</em>
                {% endif %}                
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}