<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>FSU LIS4368 | {% block pagetitle %}Course Website{% endblock %}</title>

        {% block page_maincss %}

        {# CDN CSS #}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">

        {# Local CSS #}
        <link href="{{ base_url }}/assets/css/main.css" rel="stylesheet">
        {% endblock %}

        {% block page_resources %}
        {% endblock %}

        {% block page_headers %}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class='container'>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site_url }}">
                        <span class='title-php'>&lt;?php &hellip; ?&gt;</span> 
                        <span class='title-code' title='Web Development with PHP'>LIS4368</span>
                        <span class='title-name'> - Web Dev with PHP</span>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id='main-navigation'>
                    <ul class='navbar-nav nav'>
                        <li><a href='{{ site_url }}'><i class='icon-home'></i> Home</a></li>
                        <li><a href='{{ site_url }}/syllabus'><i class='icon-edit'></i> Syllabus</a></li>
                        <li><a href='{{ site_url }}/calendar'><i class='icon-calendar'></i> Calendar</a></li>
                        <li><a href='{{ site_url }}/assignments'><i class='icon-book'></i> Assignments</a></li>
                        <li><a href='{{ site_url }}/resources'><i class='icon-heart'></i> Resources</a></li>                        
                    </ul>
                </div>

            </div>
        </nav>

        <div id='main-content'>
            {% block page_content %}{% endblock %}
        </div>

        <footer id='main-footer'>
            <div class='container'>
                <div class='col-sm-6'>

                    <div class='media fsu-affiliation'>
                        <a href='http://fsu.edu' class='pull-left'>
                            <img src='{{ base_url }}/assets/img/fsu_seal.png' />
                        </a>
                        <div class='media-body'>
                            <h3>Florida State University</h3>
                            <p>Copyright &copy; {{ date() | date('Y') }} - All Rights Reserved</p>
                        </div>
                    </div>

                    
                </div>

                <div class='col-sm-6'>
                    <div class='media instructor-info'>
                        <a href='http://caseymclaughlin.com' class='pull-left'>
                            <img src='{{ base_url }}/assets/img/headshot.jpg' alt='Casey McL Headshot' />
                        </a>
                        <div class='media-body'>
                            <h3>Casey McLaughlin <a href='mailto:casey.mclaughlin@cci.fsu.edu' title='Mail'><i class='icon-envelope'></i></a></h3>
                            <p>Office Hours: <strong>Mondays 3pm - 5pm</strong> - <strong><abbr title='Louis Shores Building'>LSB</abbr> Rm 216A</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {% block page_mainjs %}

            {# CDN Resources #}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
            <script src='//code.jquery.com/ui/1.10.3/jquery-ui.min.js'></script>

            {# Local Resources #}
            <script src='{{ base_url }}//assets/js/main.js' rel='stylesheet'></script>
        {% endblock %}
    </body>
</html>